<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
		<add name="core" connectionString="user id=sitecore;password=sitecore;Data Source=.;Database=JcbSc66_Core"/>
		<add name="master" connectionString="user id=sitecore;password=sitecore;Data Source=.;Database=JcbSc66_Master"/>
		<add name="web" connectionString="user id=sitecore;password=sitecore;Data Source=.;Database=JcbSc66_Web"/>
</connectionStrings>
