<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <sitecore>
    <commands>
      <command name="indexviewer:rebuildindex" type="IndexViewer.RebuildIndex,IndexViewer"/>
      <command name="indexviewer:optimize" type="IndexViewer.OptimizeCommand,IndexViewer"/>
      <command name="indexviewer:open" type="IndexViewer.OpenCommand,IndexViewer"/>
      <command name="indexviewer:close" type="IndexViewer.CloseIndexCommand,IndexViewer"/>
      <command name="indexviewer:exit" type="IndexViewer.ExitCommand,IndexViewer"/>
    </commands>
  </sitecore>
</configuration>
